/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    background: transparent;
}
#email{
    background-color: #817772;
}
#password{
    background-color:#817772 ;
}

::placeholder{
    color: rgb(8, 8, 8);
    opacity: 1;
}


.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #0056b3;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: black;
}

.signup-text a {
    color: #007BFF;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .login-form h2 {
        font-size: 24px;
    }
}